html {
    overflow-y: hidden;
    font-size: 12px;
}

.affix-top, .affix {
    position: static;
}

.bootstrapMenu {
    pointer-events: all;
}

.poiName {
    padding: 0px !important;
}

.poiExit {
    padding: 0px !important;
}

@media (min-width: 992px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 30px;
        width: 228px;
    }

    #sidebar.affix {
        position: fixed;
        top: 70px;
        width: 228px;
    }
}

.ui-row {
    display: inline-block;
}

.floor-selector {
    float: left;
}

.poi-container {
    float: left;
}


#main_container {
    height: 100%;
}

input {
    height: 25px;
}

.form-control {
    font-size: 1rem;
    height: 2rem;
}

.btn {
    font-size: 1.1rem;
}

input[type='checkbox'] {
    height: auto!important;
}

.panel-section {
    max-width: 300px;
    margin-left: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.panel-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.separate-block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.separate-block.row {
    margin-top: 30px;
    max-width: 300px;
    display: flex;
}

.panel-body-row {
    flex: 1;
    height: 100%;
}

.panel-section .buttons_row {
    /*max-width: 95%;*/
}

.imp-exp-new ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
}

.imp-exp-btn {
    background-color: #fcfefe;
    color: #2c7dca;
    border: 1px solid #D3D3D3;
    padding: 2px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

#controls-section {
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 20px;
    display: none;
}

#controls-section ul {
    list-style: none;
}

.controls-btn {
    font-size: 2.1rem;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 0px 2px #A9A9A9;
    margin: 5px;
    cursor: pointer;
    font-weight: 100;
    padding: 4px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}


.controls-btn.ctrl-rotate-left {
    margin-left: -30px;
}

.controls-btn.ctrl-rotate-right {
    margin-left: 20px;
}

.btn-primary {
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

#listPoiContainer {
    list-style: none;
}

.poi-list-item {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid lightgrey;
    padding: 10px;
    cursor: pointer;
    min-height: 6rem;
}

.poi-item-wrapper {
    padding: 1px 10px;
}

#listPoiTemplate,
#pairKeyValueTemplate {
    display: none!important;
}

.list-icon-wrapper {
    display: flex;
    align-items: center;
}

.poi-list-item.row,
.custom-theme-list.row {
    margin: 1px;
    margin-left: 0;
    margin-right: 0;
}

.custom-theme-list {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.3rem;
}

.list-poi-icon {
    font-size: 1.6rem;
}

.list-poi-label {
    margin: 0;
    font-weight: 400;
    display: block;
    line-height: 100%;
    font-size: 1.3rem;
}

.list-poi-bldg,
.list-poi-floor,
.list-poi-dtime {
    color: #cacaca;
    font-size: 1.1rem;
    line-height: 100%;
    margin: 0;
}

.invisible {
    display: none!important;
    transition: all 1s;
}

#details-panel {
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#icons-panel {
    background-color: #ffffff;
}

.poi-details-panel .form-group {
    margin-bottom: 0.5rem!important;
}

.poi-details-panel .form-group label {
    margin-bottom: .2rem!important;
}

#details-panel .row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0!important;
    margin-right: 0!important;
}

#icons-panel .row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0!important;
    margin-right: 0!important;
}

#details-header,
#icons-list-header,
#colors-list-header {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#icons-list-header .btn {
    font-size: 1rem;
}

.poi-details-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.poi-details-panel input,
.poi-details-panel select {
    height: 25px;
    padding: 4px;
}

.poi-details-panel textarea {
    padding-left: 4px;
}

.poi-details-panel select {
    height: 25px!important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
}

.poi-details-panel label {
    color: #a1a1a1;
    font-size: 1rem;
    font-weight: 400;
}

.poi-details-panel span {
    color: #a1a1a1;
    font-size: 1rem;
    font-weight: 400;
}


.header-button * {
    cursor: pointer;
}


.colorpicker {
    pointer-events: all;
}

.color-sample {
    background-color: #4bcdff
}

.input-group-addon {
    padding-top: 3px;
    padding-bottom: 2px;
}

.colorpicker-element p{
    font-size: 1rem;
}

.browse-button {
    width: auto;
    height: 25px;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.back-to-list,
#undo-actions {
    padding: 0;
    vertical-align: middle;
    line-height: 3rem;
}

.init-poi-text p{
    font-size: 1.4rem;
}

#ambiarcIframe {
    width:100%;
    height:100%;
    border:none;
    top: 0; z-index:-1;
    position:fixed;
    pointer-events: all;
}


/* LEFT PANEL UI */

#panel-ui {
    padding-top: 30px;
    max-width: 300px;
    pointer-events: all;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#panel-ui * {
    pointer-events: all;
}

#air-data {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #7d7d7e;
    overflow-y: auto;
    border-radius: 5px;
}

#air-data .row {
    background-color: #ffffff;
}

.air-data-values {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.air-data-value {
    color: #000000;
    font-weight: bold;
}

.air-data-header {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.measurement-unit {
    color: #7d7d7e;
    font-size: 1.2rem;
}

/*****************************************/


/* FLOOR SELECTOR SECTION */

.floor_select_btn {
    background-color: #fcfefe;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0px;
    width: 50%;
    text-align: center;
}

.col-sm floor_select_btn.map_view {
    text-align: center;
}

.map_view {
    padding: 5px;
    color: #7d7d7e;
    border-right: 1px solid #7d7d7e;
}

#bldg-floor-select {
    padding: 5px;
    width: 100%;
    border: 0;
    border-left: 1px solid lightgray;
}

.select_wrapper {
    pointer-events: all;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1px;
}

.floor_select_btn * {
    pointer-events: all;
    color: #2c7dca!important;
}

.floor_select_btn .select2 {
    width: 100%!important;
}

.floor_select_btn .select2-selection {
    border-radius: 0!important;
    border: 0!important;
}

.select2-search.select2-search--dropdown{
    display:none;
}

.select2-results * {
    pointer-events: all!important;
}

.hidden_selector {
    display: none;
}

#select2-bldg-floor-select-container {
    line-height: 2.5rem;
}

.select2-results {
    font-size: 1.2rem;
}

/**********************************************/
